
<div class="container" >
    <div class="row justify-content-between " >



    <div class="card" style="width: 10rem;">
        <img src="https://e00-elmundo.uecdn.es/television/programacion-tv/img/v2/programas/0b/135947.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">aael le gusta spirit</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img src="https://e00-elmundo.uecdn.es/television/programacion-tv/img/v2/programas/0b/135947.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">aael le gusta spirit</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 12rem;">
        <img src="https://e00-elmundo.uecdn.es/television/programacion-tv/img/v2/programas/0b/135947.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">aael le gusta spirit</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 12rem;">
        <img src="https://e00-elmundo.uecdn.es/television/programacion-tv/img/v2/programas/0b/135947.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">aael le gusta spirit</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



</div>
</div>